# 1) Setup and Schema exploration

In [1]:
%config SqlMagic.displaylimit = None
%load_ext sql

displaylimit: Value None will be treated as 0 (no limit)

In [2]:
%sql sqlite:///northwind.db

Connecting to 'sqlite:///northwind.db'

Listing tables and inspecting key structures (Orders, Customers, Products, Suppliers, Employees).

In [3]:
%%sql
SELECT name
FROM sqlite_master
WHERE type='table'
ORDER BY name;

Running query in 'sqlite:///northwind.db'

+----------------------+
|         name         |
+----------------------+
|      Categories      |
| CustomerCustomerDemo |
| CustomerDemographics |
|      Customers       |
| EmployeeTerritories  |
|      Employees       |
|    Order Details     |
|        Orders        |
|       Products       |
|       Regions        |
|       Shippers       |
|      Suppliers       |
|     Territories      |
|   sqlite_sequence    |
+----------------------+

In [4]:
%%sql
PRAGMA table_info(Orders);

Running query in 'sqlite:///northwind.db'

+-----+----------------+----------+---------+------------+----+
| cid |      name      |   type   | notnull | dflt_value | pk |
+-----+----------------+----------+---------+------------+----+
|  0  |    OrderID     | INTEGER  |    1    |    None    | 1  |
|  1  |   CustomerID   |   TEXT   |    0    |    None    | 0  |
|  2  |   EmployeeID   | INTEGER  |    0    |    None    | 0  |
|  3  |   OrderDate    | DATETIME |    0    |    None    | 0  |
|  4  |  RequiredDate  | DATETIME |    0    |    None    | 0  |
|  5  |  ShippedDate   | DATETIME |    0    |    None    | 0  |
|  6  |    ShipVia     | INTEGER  |    0    |    None    | 0  |
|  7  |    Freight     | NUMERIC  |    0    |     0      | 0  |
|  8  |    ShipName    |   TEXT   |    0    |    None    | 0  |
|  9  |  ShipAddress   |   TEXT   |    0    |    None    | 0  |
|  10 |    ShipCity    |   TEXT   |    0    |    None    | 0  |
|  11 |   ShipRegion   |   TEXT   |    0    |    None    | 0  |
|  12 | ShipPostalCode |   TEXT   |    0    |    None    | 0  |
|  13 |  ShipCountry   |   TEXT   |    0    |    None    | 0  |
+-----+----------------+----------+---------+------------+----+

In [16]:
%%sql
PRAGMA table_info("Order Details");

Running query in 'sqlite:///northwind.db'

+-----+-----------+---------+---------+------------+----+
| cid |    name   |   type  | notnull | dflt_value | pk |
+-----+-----------+---------+---------+------------+----+
|  0  |  OrderID  | INTEGER |    1    |    None    | 1  |
|  1  | ProductID | INTEGER |    1    |    None    | 2  |
|  2  | UnitPrice | NUMERIC |    1    |     0      | 0  |
|  3  |  Quantity | INTEGER |    1    |     1      | 0  |
|  4  |  Discount |   REAL  |    1    |     0      | 0  |
+-----+-----------+---------+---------+------------+----+

In [5]:
%%sql
PRAGMA table_info(Customers);

Running query in 'sqlite:///northwind.db'

+-----+--------------+------+---------+------------+----+
| cid |     name     | type | notnull | dflt_value | pk |
+-----+--------------+------+---------+------------+----+
|  0  |  CustomerID  | TEXT |    0    |    None    | 1  |
|  1  | CompanyName  | TEXT |    0    |    None    | 0  |
|  2  | ContactName  | TEXT |    0    |    None    | 0  |
|  3  | ContactTitle | TEXT |    0    |    None    | 0  |
|  4  |   Address    | TEXT |    0    |    None    | 0  |
|  5  |     City     | TEXT |    0    |    None    | 0  |
|  6  |    Region    | TEXT |    0    |    None    | 0  |
|  7  |  PostalCode  | TEXT |    0    |    None    | 0  |
|  8  |   Country    | TEXT |    0    |    None    | 0  |
|  9  |    Phone     | TEXT |    0    |    None    | 0  |
|  10 |     Fax      | TEXT |    0    |    None    | 0  |
+-----+--------------+------+---------+------------+----+

In [6]:
%%sql
PRAGMA table_info(Products);

Running query in 'sqlite:///northwind.db'

+-----+-----------------+---------+---------+------------+----+
| cid |       name      |   type  | notnull | dflt_value | pk |
+-----+-----------------+---------+---------+------------+----+
|  0  |    ProductID    | INTEGER |    1    |    None    | 1  |
|  1  |   ProductName   |   TEXT  |    1    |    None    | 0  |
|  2  |    SupplierID   | INTEGER |    0    |    None    | 0  |
|  3  |    CategoryID   | INTEGER |    0    |    None    | 0  |
|  4  | QuantityPerUnit |   TEXT  |    0    |    None    | 0  |
|  5  |    UnitPrice    | NUMERIC |    0    |     0      | 0  |
|  6  |   UnitsInStock  | INTEGER |    0    |     0      | 0  |
|  7  |   UnitsOnOrder  | INTEGER |    0    |     0      | 0  |
|  8  |   ReorderLevel  | INTEGER |    0    |     0      | 0  |
|  9  |   Discontinued  |   TEXT  |    1    |    '0'     | 0  |
+-----+-----------------+---------+---------+------------+----+

In [7]:
%%sql
PRAGMA table_info(Suppliers);

Running query in 'sqlite:///northwind.db'

+-----+--------------+---------+---------+------------+----+
| cid |     name     |   type  | notnull | dflt_value | pk |
+-----+--------------+---------+---------+------------+----+
|  0  |  SupplierID  | INTEGER |    1    |    None    | 1  |
|  1  | CompanyName  |   TEXT  |    1    |    None    | 0  |
|  2  | ContactName  |   TEXT  |    0    |    None    | 0  |
|  3  | ContactTitle |   TEXT  |    0    |    None    | 0  |
|  4  |   Address    |   TEXT  |    0    |    None    | 0  |
|  5  |     City     |   TEXT  |    0    |    None    | 0  |
|  6  |    Region    |   TEXT  |    0    |    None    | 0  |
|  7  |  PostalCode  |   TEXT  |    0    |    None    | 0  |
|  8  |   Country    |   TEXT  |    0    |    None    | 0  |
|  9  |    Phone     |   TEXT  |    0    |    None    | 0  |
|  10 |     Fax      |   TEXT  |    0    |    None    | 0  |
|  11 |   HomePage   |   TEXT  |    0    |    None    | 0  |
+-----+--------------+---------+---------+------------+----+

In [10]:
%%sql
PRAGMA table_info(Employees);

Running query in 'sqlite:///northwind.db'

+-----+-----------------+---------+---------+------------+----+
| cid |       name      |   type  | notnull | dflt_value | pk |
+-----+-----------------+---------+---------+------------+----+
|  0  |    EmployeeID   | INTEGER |    0    |    None    | 1  |
|  1  |     LastName    |   TEXT  |    0    |    None    | 0  |
|  2  |    FirstName    |   TEXT  |    0    |    None    | 0  |
|  3  |      Title      |   TEXT  |    0    |    None    | 0  |
|  4  | TitleOfCourtesy |   TEXT  |    0    |    None    | 0  |
|  5  |    BirthDate    |   DATE  |    0    |    None    | 0  |
|  6  |     HireDate    |   DATE  |    0    |    None    | 0  |
|  7  |     Address     |   TEXT  |    0    |    None    | 0  |
|  8  |       City      |   TEXT  |    0    |    None    | 0  |
|  9  |      Region     |   TEXT  |    0    |    None    | 0  |
|  10 |    PostalCode   |   TEXT  |    0    |    None    | 0  |
|  11 |     Country     |   TEXT  |    0    |    None    | 0  |
|  12 |    HomePhone    |   TEXT  |    0    |    None    | 0  |
|  13 |    Extension    |   TEXT  |    0    |    None    | 0  |
|  14 |      Photo      |   BLOB  |    0    |    None    | 0  |
|  15 |      Notes      |   TEXT  |    0    |    None    | 0  |
|  16 |    ReportsTo    | INTEGER |    0    |    None    | 0  |
|  17 |    PhotoPath    |   TEXT  |    0    |    None    | 0  |
+-----+-----------------+---------+---------+------------+----+

# 2) Sales KPIs

Calculating total sales, number of orders, distinct customers, and average order value. This sets the baseline for company performance.

In [15]:
%%sql
SELECT
    ROUND(SUM(od.UnitPrice * od.Quantity), 2) AS total_sales,
    COUNT(DISTINCT o.OrderID) AS orders,
    COUNT(DISTINCT o.CustomerID) AS customers,
    ROUND(SUM(od.UnitPrice * od.Quantity) / COUNT(DISTINCT o.OrderID), 2) AS avg_order_value
FROM "Order Details" od
JOIN Orders o ON od.OrderID = o.OrderID;

Running query in 'sqlite:///northwind.db'

+--------------+--------+-----------+-----------------+
| total_sales  | orders | customers | avg_order_value |
+--------------+--------+-----------+-----------------+
| 448475298.72 | 16282  |     93    |     27544.24    |
+--------------+--------+-----------+-----------------+

# 3) Revenue by country

Joining Orders with Customers to aggregate sales by country. This demonstrates geographic analysis.

In [18]:
%%sql
SELECT c.Country,
       ROUND(SUM(od.UnitPrice * od.Quantity), 2) AS Revenue
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
JOIN "Order Details" od ON o.OrderID = od.OrderID
GROUP BY c.Country
ORDER BY Revenue DESC;

Running query in 'sqlite:///northwind.db'

+-------------+-------------+
|   Country   |   Revenue   |
+-------------+-------------+
|     USA     | 62619547.21 |
|    France   |  53327446.2 |
|   Germany   | 51210122.82 |
|    Brazil   | 45809821.98 |
|      UK     |  33960900.0 |
|    Mexico   | 24802773.81 |
|    Spain    | 24024946.94 |
|  Venezuela  | 19428916.23 |
|  Argentina  | 14233566.76 |
|    Canada   | 14206805.27 |
|    Italy    | 14001668.23 |
|   Austria   |  9919776.93 |
| Switzerland |  9824615.38 |
|     None    |  9745371.29 |
|   Denmark   |  9710495.95 |
|   Portugal  |  9536414.63 |
|   Belgium   |  9427070.56 |
|    Sweden   |  9304727.71 |
|   Finland   |  9210975.19 |
|   Ireland   |  4739619.77 |
|    Poland   |  4738465.22 |
|    Norway   |  4691250.64 |
+-------------+-------------+

# 4) Top products

Identifying the most popular products by sales volume. This shows catalog analysis.

In [19]:
%%sql
SELECT p.ProductName,
       SUM(od.Quantity) AS UnitsSold,
       ROUND(SUM(od.UnitPrice * od.Quantity), 2) AS Revenue
FROM "Order Details" od
JOIN Products p ON od.ProductID = p.ProductID
GROUP BY p.ProductName
ORDER BY Revenue DESC
LIMIT 15;

Running query in 'sqlite:///northwind.db'

+----------------------------+-----------+-------------+
|        ProductName         | UnitsSold |   Revenue   |
+----------------------------+-----------+-------------+
|       Côte de Blaye        |   202234  |  53274482.7 |
|  Thüringer Rostbratwurst   |   199010  | 24630836.96 |
|      Mishi Kobe Niku       |   200258  |  19424638.0 |
|   Sir Rodney's Marmalade   |   205637  |  16654879.8 |
|      Carnarvon Tigers      |   201747  |  12607487.5 |
|    Raclette Courdavault    |   204137  |  11221551.0 |
|   Manjimup Dried Apples    |   201319  |  10667691.6 |
|       Tarte au sucre       |   202010  |  9955529.0  |
|        Ipoh Coffee         |   202968  |  9334927.2  |
|     Rössle Sauerkraut      |   202988  |  9253934.4  |
|     Schoggi Schokolade     |   201139  |  8829210.1  |
|        Vegie-spread        |   200764  |  8811700.4  |
| Northwoods Cranberry Sauce |   201894  |  8074640.0  |
|        Alice Mutton        |   202304  |  7887196.2  |
| Queso Manchego La Pastora  |   202242  |  7684990.8  |
+----------------------------+-----------+-------------+

# 5) Supplier performance

Evaluating suppliers by the revenue generated from their products. This demonstrates supply chain insights.

In [20]:
%%sql
SELECT s.CompanyName AS Supplier,
       ROUND(SUM(od.UnitPrice * od.Quantity), 2) AS Revenue
FROM "Order Details" od
JOIN Products p ON od.ProductID = p.ProductID
JOIN Suppliers s ON p.SupplierID = s.SupplierID
GROUP BY s.CompanyName
ORDER BY Revenue DESC
LIMIT 10;

Running query in 'sqlite:///northwind.db'

+-----------------------------------+-------------+
|              Supplier             |   Revenue   |
+-----------------------------------+-------------+
|     Aux joyeux ecclésiastiques    |  56909665.5 |
| Plutzer Lebensmittelgroßmärkte AG | 44755661.66 |
|           Pavlova, Ltd.           |  35894790.4 |
|           Tokyo Traders           |  27685360.2 |
|      Specialty Biscuits, Ltd.     |  23100851.6 |
|     Grandma Kelly's Homestead     |  19231009.0 |
|            G'day, Mate            |  18651829.8 |
|            Gai pâturage           |  18125455.0 |
|    Heli Süßwaren GmbH & Co. KG    | 18034478.44 |
|     New Orleans Cajun Delights    |  16383724.3 |
+-----------------------------------+-------------+

# 6) Monthly sales trend

Aggregating sales by month to reveal seasonality and growth trends.

In [21]:
%%sql
SELECT substr(o.OrderDate, 1, 7) AS Month,
       ROUND(SUM(od.UnitPrice * od.Quantity), 2) AS Revenue
FROM Orders o
JOIN "Order Details" od ON o.OrderID = od.OrderID
GROUP BY substr(o.OrderDate, 1, 7)
ORDER BY Month;

Running query in 'sqlite:///northwind.db'

+---------+------------+
|  Month  |  Revenue   |
+---------+------------+
| 2012-07 | 2066219.4  |
| 2012-08 | 3556875.79 |
| 2012-09 | 3440144.98 |
| 2012-10 | 3201529.96 |
| 2012-11 | 2980494.74 |
| 2012-12 | 3577936.85 |
| 2013-01 | 3075418.29 |
| 2013-02 | 2964192.86 |
| 2013-03 | 3471361.21 |
| 2013-04 | 3262893.52 |
| 2013-05 | 3593528.01 |
| 2013-06 | 2976184.24 |
| 2013-07 | 4275068.43 |
| 2013-08 | 2987993.36 |
| 2013-09 | 2671413.23 |
| 2013-10 | 3112262.1  |
| 2013-11 | 3042197.05 |
| 2013-12 | 3200607.71 |
| 2014-01 | 2710443.83 |
| 2014-02 | 2602658.47 |
| 2014-03 | 3854314.06 |
| 2014-04 | 3340038.66 |
| 2014-05 | 3267340.26 |
| 2014-06 | 3680115.42 |
| 2014-07 | 3178414.39 |
| 2014-08 | 3416670.63 |
| 2014-09 | 2694898.33 |
| 2014-10 | 3125850.74 |
| 2014-11 | 3156916.6  |
| 2014-12 | 3842486.74 |
| 2015-01 | 3421656.38 |
| 2015-02 | 2956201.14 |
| 2015-03 | 3353227.79 |
| 2015-04 | 3207293.13 |
| 2015-05 | 3425430.69 |
| 2015-06 | 2975668.32 |
| 2015-07 | 3636472.82 |
| 2015-08 | 4372619.01 |
| 2015-09 | 3390593.89 |
| 2015-10 | 3456874.61 |
| 2015-11 | 3249120.89 |
| 2015-12 | 3978298.05 |
| 2016-01 | 3658051.75 |
| 2016-02 | 3186904.49 |
| 2016-03 | 3662692.07 |
| 2016-04 | 2975703.27 |
| 2016-05 | 3437922.47 |
| 2016-06 | 3292493.54 |
| 2016-07 | 3672030.37 |
| 2016-08 | 3285920.12 |
| 2016-09 | 3332379.1  |
| 2016-10 | 3265848.25 |
| 2016-11 | 3156953.86 |
| 2016-12 | 3659987.6  |
| 2017-01 | 3451589.24 |
| 2017-02 | 2599357.45 |
| 2017-03 | 3824749.24 |
| 2017-04 | 3021656.18 |
| 2017-05 | 4367995.42 |
| 2017-06 | 2998165.44 |
| 2017-07 | 2890135.88 |
| 2017-08 | 3343718.19 |
| 2017-09 | 2811471.53 |
| 2017-10 | 3973570.75 |
| 2017-11 | 3620747.97 |
| 2017-12 | 3348050.49 |
| 2018-01 | 4057659.18 |
| 2018-02 | 3009199.59 |
| 2018-03 | 2696859.3  |
| 2018-04 | 3097977.24 |
| 2018-05 | 3250529.59 |
| 2018-06 | 3242359.68 |
| 2018-07 | 2901454.46 |
| 2018-08 | 3286136.44 |
| 2018-09 | 3424899.45 |
| 2018-10 | 2789791.96 |
| 2018-11 | 3113044.9  |
| 2018-12 | 3485859.11 |
| 2019-01 | 3151757.32 |
| 2019-02 | 2895952.31 |
| 2019-03 | 3190906.85 |
| 2019-04 | 3578994.95 |
| 2019-05 | 3562283.98 |
| 2019-06 | 3241453.16 |
| 2019-07 | 3163267.4  |
| 2019-08 | 3078770.82 |
| 2019-09 | 3093903.19 |
| 2019-10 | 3346327.82 |
| 2019-11 | 2817565.99 |
| 2019-12 | 3395780.07 |
| 2020-01 | 3423774.29 |
| 2020-02 | 3467644.26 |
| 2020-03 | 3018709.85 |
| 2020-04 | 2655472.57 |
| 2020-05 | 3122293.71 |
| 2020-06 | 2871344.17 |
| 2020-07 | 3643366.59 |
| 2020-08 | 3794089.55 |
| 2020-09 | 3783178.34 |
| 2020-10 | 3060490.64 |
| 2020-11 | 2968195.35 |
| 2020-12 | 3053877.47 |
| 2021-01 | 3474864.06 |
| 2021-02 | 2953519.5  |
| 2021-03 | 3434464.48 |
| 2021-04 | 3255793.01 |
| 2021-05 | 3319860.71 |
| 2021-06 | 3510713.08 |
| 2021-07 | 3917400.08 |
| 2021-08 | 3443530.09 |
| 2021-09 | 3186946.18 |
| 2021-10 | 3071772.86 |
| 2021-11 | 3408890.29 |
| 2021-12 | 4377795.4  |
| 2022-01 | 3591353.72 |
| 2022-02 | 2832321.16 |
| 2022-03 | 3222005.69 |
| 2022-04 | 2628034.83 |
| 2022-05 | 3719270.11 |
| 2022-06 | 3378131.17 |
| 2022-07 | 3358177.3  |
| 2022-08 | 3660257.83 |
| 2022-09 | 2606755.13 |
| 2022-10 | 3717586.61 |
| 2022-11 | 3542815.27 |
| 2022-12 | 3485357.36 |
| 2023-01 | 3171802.16 |
| 2023-02 | 2611606.16 |
| 2023-03 | 3716250.41 |
| 2023-04 | 3474940.3  |
| 2023-05 | 3896544.35 |
| 2023-06 | 3071787.73 |
| 2023-07 | 3350337.36 |
| 2023-08 | 3293158.67 |
| 2023-09 | 3544698.51 |
| 2023-10 | 2923364.35 |
+---------+------------+

# 7) Employee sales performance

Measuring which employees generate the most sales, showing HR and performance analytics.

In [22]:
%%sql
SELECT e.FirstName || ' ' || e.LastName AS Employee,
       ROUND(SUM(od.UnitPrice * od.Quantity), 2) AS Revenue
FROM Orders o
JOIN Employees e ON o.EmployeeID = e.EmployeeID
JOIN "Order Details" od ON o.OrderID = od.OrderID
GROUP BY e.EmployeeID
ORDER BY Revenue DESC;

Running query in 'sqlite:///northwind.db'

+------------------+-------------+
|     Employee     |   Revenue   |
+------------------+-------------+
| Margaret Peacock |  51505691.8 |
| Steven Buchanan  | 51393234.57 |
| Janet Leverling  | 50455812.22 |
|  Nancy Davolio   | 49669459.34 |
|   Robert King    | 49668627.06 |
|  Laura Callahan  | 49287575.56 |
|  Michael Suyama  | 49144251.53 |
|  Anne Dodsworth  | 49025334.37 |
|  Andrew Fuller   | 48325312.27 |
+------------------+-------------+

# 8) Customer segmentation

Calculating lifetime value per customer and order counts, useful for marketing and loyalty programs.

In [23]:
%%sql
SELECT c.CustomerID,
       c.CompanyName,
       ROUND(SUM(od.UnitPrice * od.Quantity), 2) AS LifetimeValue,
       COUNT(DISTINCT o.OrderID) AS Orders
FROM Customers c
JOIN Orders o ON c.CustomerID = o.CustomerID
JOIN "Order Details" od ON o.OrderID = od.OrderID
GROUP BY c.CustomerID, c.CompanyName
ORDER BY LifetimeValue DESC;

Running query in 'sqlite:///northwind.db'

+------------+--------------------------------------+---------------+--------+
| CustomerID |             CompanyName              | LifetimeValue | Orders |
+------------+--------------------------------------+---------------+--------+
|   BSBEV    |            B's Beverages             |   6154115.34  |  210   |
|   HUNGC    |      Hungry Coyote Import Store      |   5698023.67  |  198   |
|   RANCH    |            Rancho grande             |   5559110.08  |  194   |
|   GOURL    |         Gourmet Lanchonetes          |   5552597.9   |  202   |
|   ANATR    |  Ana Trujillo Emparedados y helados  |   5534356.65  |  195   |
|   RICAR    |          Ricardo Adocicados          |   5524990.91  |  203   |
|   FOLIG    |          Folies gourmandes           |   5505502.85  |  195   |
|   LETSS    |          Let's Stop N Shop           |   5462611.57  |  191   |
|   LILAS    |          LILA-Supermercado           |   5439186.8   |  203   |
|   PRINI    |        Princesa Isabel Vinhos        |   5437042.71  |  200   |
|   BOLID    |      Bólido Comidas preparadas       |   5399129.39  |  182   |
|   PICCO    |           Piccolo und mehr           |   5369557.36  |  177   |
|   MORGK    |        Morgenstern Gesundkost        |   5349089.59  |  178   |
|   WELLI    |        Wellington Importadora        |   5334320.19  |  185   |
|   SPECD    |         Spécialités du monde         |   5298269.65  |  188   |
|   TORTU    |         Tortuga Restaurante          |   5278083.97  |  197   |
|   VICTE    |         Victuailles en stock         |   5277440.73  |  188   |
|   FRANR    |         France restauration          |   5180799.4   |  187   |
|   HANAR    |            Hanari Carnes             |   5099201.34  |  180   |
|   TRADH    |        Tradição Hipermercados        |   5087551.37  |  188   |
|   PERIC    |      Pericles Comidas clásicas       |   5071822.53  |  169   |
|   BOTTM    |        Bottom-Dollar Markets         |   5066008.44  |  185   |
|   QUEEN    |            Queen Cozinha             |   5064050.46  |  185   |
|   THECR    |           The Cracker Box            |   4997732.41  |  168   |
|   COMMI    |           Comércio Mineiro           |   4992489.53  |  179   |
|   CHOPS    |          Chop-suey Chinese           |   4989696.41  |  183   |
|   QUICK    |              QUICK-Stop              |   4946181.57  |  183   |
|   FRANS    |            Franchi S.p.A.            |   4943582.11  |  184   |
|   LAZYK    |         Lazy K Kountry Store         |   4942067.56  |  167   |
|   VAFFE    |             Vaffeljernet             |   4941680.66  |  171   |
|   CONSH    |        Consolidated Holdings         |   4931207.19  |  180   |
|   VALON    |                  IT                  |   4925094.61  |  176   |
|   OTTIK    |          Ottilies Käseladen          |   4911884.7   |  177   |
|   GREAL    |       Great Lakes Food Market        |   4902013.69  |  177   |
|   FAMIA    |          Familia Arquibaldo          |   4896111.77  |  168   |
|   ISLAT    |            Island Trading            |   4885549.18  |  185   |
|   MEREP    |            Mère Paillarde            |   4880810.49  |  175   |
|   WANDK    |          Die Wandernde Kuh           |   4855841.05  |  175   |
|   HILAA    |           HILARION-Abastos           |   4842167.23  |  178   |
|   BERGS    |          Berglunds snabbköp          |   4835439.1   |  178   |
|   RICSU    |          Richter Supermarkt          |   4834918.97  |  175   |
|   MAGAA    |     Magazzini Alimentari Riuniti     |   4834337.09  |  175   |
|   THEBI    |            The Big Cheese            |   4830860.98  |  164   |
|   Val2     |                  IT                  |   4820276.68  |  159   |
|   MAISD    |             Maison Dewey             |   4816523.83  |  162   |
|   OLDWO    |        Old World Delicatessen        |   4810406.2   |  176   |
|   PARIS    |          Paris spécialités           |   4805987.65  |  161   |
|   ROMEY    |           Romero y tomillo           |   4782770.28  |  176   |
|   DRACD    |       Drachenblut Delikatessen       |   4779289.01  |  176   |
|   SIMOB    |            Simons bistro             |   4768815.29  |  161   |
|   SEVES    |          Seven Seas Imports          |   4750795.94  |  168   |
|   TOMSP    |          Toms Spezialitäten          |   4745253.96  |  174   |
|   HUNGO    |     Hungry Owl All-Night Grocers     |   4739619.77  |  182   |
|   WOLZA    |            Wolski  Zajazd            |   4738465.22  |  177   |
|   BONAP    |               Bon app'               |   4727572.9   |  167   |
|   FISSA    | FISSA Fabrica Inter. Salchichas S.A. |   4719540.2   |  155   |
|   BLONP    |       Blondesddsl père et fils       |   4706532.06  |  165   |
|   SANTG    |            Santé Gourmet             |   4691250.64  |  159   |
|   RATTC    |      Rattlesnake Canyon Grocery      |   4688963.11  |  174   |
|   LAMAI    |           La maison d'Asie           |   4676636.64  |  185   |
|   WHITC    |         White Clover Markets         |   4664417.78  |  183   |
|   GROSR    |         GROSELLA-Restaurante         |   4649039.29  |  168   |
|   WILMK    |             Wilman Kala              |   4635588.03  |  169   |
|   GODOS    |         Godos Cocina Típica          |   4623182.17  |  173   |
|   KOENE    |           Königlich Essen            |   4622011.27  |  177   |
|   CACTU    |      Cactus Comidas para llevar      |   4615377.63  |  168   |
|   SUPRD    |           Suprêmes délices           |   4610546.73  |  169   |
|   CENTC    |      Centro comercial Moctezuma      |   4606245.25  |  174   |
|   LACOR    |         La corne d'abondance         |   4580281.87  |  155   |
|   EASTC    |          Eastern Connection          |   4578251.02  |  165   |
|   WARTH    |            Wartian Herkku            |   4575387.16  |  162   |
|   ERNSH    |             Ernst Handel             |   4550219.57  |  187   |
|   SAVEA    |          Save-a-lot Markets          |   4531376.69  |  190   |
|   SPLIR    |        Split Rail Beer & Ale         |   4500398.94  |  169   |
|   GALED    |        Galería del gastrónomo        |   4500324.9   |  163   |
|   LINOD    |           LINO-Delicateses           |   4498522.91  |  177   |
|   FOLKO    |            Folk och fä HB            |   4469288.61  |  175   |
|   FRANK    |            Frankenversand            |   4437000.71  |  162   |
|   BLAUS    |       Blauer See Delikatessen        |   4411617.75  |  164   |
|   NORTS    |             North/South              |   4408743.86  |  170   |
|   VINET    |      Vins et alcools Chevalier       |   4332214.28  |  158   |
|   ANTON    |       Antonio Moreno Taquería        |   4312265.41  |  163   |
|   LONEP    |       Lonesome Pine Restaurant       |   4298854.65  |  166   |
|   TRAIH    |  Trail's Head Gourmet Provisioners   |   4291819.96  |  157   |
|   LAUGB    |    Laughing Bacchus Wine Cellars     |   4259986.34  |  160   |
|   QUEDE    |             Que Delícia              |   4258508.51  |  169   |
|   AROUT    |           Around the Horn            |   4252237.47  |  156   |
|   DUMON    |           Du monde entier            |   4236208.17  |  160   |
|   REGGC    |          Reggiani Caseifici          |   4223749.03  |  160   |
|   LEHMS    |         Lehmanns Marktstand          |   4186165.06  |  166   |
|   FURIB    |    Furia Bacalhau e Frutos do Mar    |   4099371.92  |  155   |
|   OCEAN    |        Océano Atlántico Ltda.        |   4059079.05  |  154   |
|   ALFKI    |         Alfreds Futterkiste          |   3965788.15  |  163   |
+------------+--------------------------------------+---------------+--------+

# 9) Pareto principle check

Testing whether the top 20% of customers contribute most revenue.

In [24]:
%%sql
WITH ltv AS (
  SELECT c.CustomerID, SUM(od.UnitPrice * od.Quantity) AS LifetimeValue
  FROM Customers c
  JOIN Orders o ON c.CustomerID = o.CustomerID
  JOIN "Order Details" od ON o.OrderID = od.OrderID
  GROUP BY c.CustomerID
),
ranked AS (
  SELECT CustomerID,
         LifetimeValue,
         ROW_NUMBER() OVER (ORDER BY LifetimeValue DESC) AS rn,
         COUNT(*) OVER () AS total_customers
  FROM ltv
),
cutoff AS (
  SELECT CAST(0.2 * MAX(total_customers) AS INTEGER) AS top_n
  FROM ranked
)
SELECT ROUND(
  100.0 *
  (SELECT SUM(LifetimeValue) FROM ranked WHERE rn <= (SELECT top_n FROM cutoff))
  /
  (SELECT SUM(LifetimeValue) FROM ranked)
, 2) AS Top20PctRevenueShare;

Running query in 'sqlite:///northwind.db'

+----------------------+
| Top20PctRevenueShare |
+----------------------+
|        21.93         |
+----------------------+